body {
    /* background-color: #f8f9fa; */
    background: linear-gradient(to right, #add8e6, #ffb6c1);
    /* background: linear-gradient(to right, #f5f5f5, #add8e6); */
    box-sizing: border-box;
    padding: .5rem;
}
.page{
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group input{
    margin-top: 1rem;
}
label {
    margin-top: 1rem;
    font-weight: bold;
}
.result {
    margin-top: 40px;
    text-align: center;
}
.btn-calculate {
    margin-top: 30px;
}
.btn-clear{
    margin-top: 30px;
}
.error-message {
    color: red;
    margin-top: 10px;
}

.footer-text{
    margin-top: 2rem;
}
.footer-text span{
    font-weight: bold;
    color: #000;
}
.footer-text .box{
    text-align: center;
}